*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 95vh;
    margin: 0;
    padding: 0;
    background-image: url(puwan.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
}