*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('david-veksler-HpmDAS1Dozs-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000; /* fallback bg behind the image */
}

blockquote{
  align-items: end;
  display: contents;
}

article{
  display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 80px;
    margin-bottom: 80px;
   place-content: bottom;
}
h2{
    color: #333;

}
p{
    color: #555;
}

header {
  background: #447D9B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo h4 {
  text-transform: uppercase;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav .link {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}
nav .link:hover {
  font-weight: bold;
  color: #7cf03d;
}
article{
   box-shadow: 0 55px 415px rgba(0,0, 0, 0.9); 
  margin-top: 100px;
  display: block;
  align-items: end;
}
