*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

main{
    flex: 1;
    height: 680px;
    
    background: #9ACBD0;
}
 .one{
    display: flex;
    justify-content: left;
    color: black;
 margin-top: 0;
    height: 0;
    width: 230px;
}
.one h4{
    
    margin-top: 33px;
}
nav{
    padding-top: 0;
    margin-top: 0;
    /* position: relative; */
    margin-left: 300px;
    /* padding-right: 25px; */
    background: #447D9B;
    color: white;
    width: 980px;
    height: 89.4px;
    overflow: hidden;
}
.box{
    height: 34px;
}
nav ul{
    padding-top: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;

}
nav ul a{
    /* padding-top: 43px; */
    list-style: none;
    text-decoration: none;
    color: white;
}


.link:hover{
    
    font-weight: 700;
    
}

.one h4{
    
    text-transform: uppercase;
    
}
.photo img{
    padding-top: 24PX;
    height: 50%;
    width: 50%;}
    .photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background: #1F2937;
    height: 150px;
    color: #F9FAFB;
    
}
footer img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copywrite span{
    /* bottom: 43px; */
    
  position: relative;
  bottom: 10;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height:1px ;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}
