*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.one{
    display: flex;
    justify-content: left;
    color: black;
}

.one{
    margin-top: 0;
    height: 0;
    width: 200px;
}
.one h4{
    margin-top: 33px;
}
nav{
    padding-top: 0;
    margin-top: 0;
    position: relative;
    margin-left: 300px;
    /* padding-right: 25px; */
    background: #447D9B;
    color: white;
    width: 980px;
    height: 89.4px;
}
.box{
    height: 34px;
}
nav ul{
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-evenly;

}
nav ul a{
    /* padding-top: 43px; */
    list-style: none;
    text-decoration: none;
    color: white;
}


.c:hover{
    /* background: red; */
    /* color: blue; */
    font-weight: 700;
    /* color: chartreuse; */

}
.s:hover{
    font-weight: 700;
}
.a:hover{
    font-weight: 700;
}
.h:hover{
    font-weight: 700;
}
/* .color:hover{
    background-color: rgb(211, 67, 202);
    cursor: pointer;
    height: 50px;
    width: 100px;
} */
